@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');
nav{
	background: rgba(0,0,0,0.1)!important;
}
.nav li a{
	color: #000!important;
	font-size: 18px!important;
}
.nav li a:hover{
	color: #fff!important;
}
.cover{
	position: relative;
	top: 120px;
	color: black;
}
body{
	background-image:url(../images/slide3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.table{
	background-color: #fff!important;
	border: none!important;
}
.search{
	position: relative;
	top:20vh;
	margin-bottom: 5vh;
}
.search form button{
	background-color: #54a0ff!important;
	transition: 0.3s linear;
	border:none!important;
}
.search form button:hover{
	background-color: #fff!important;
	color:#54a0ff!important;
}
.input-group-addon{
	color: #fff!important;
	background-color: #54a0ff!important;
}
#searchph{
	transition: 0.3s linear;
	border:none!important;
}
#searchph:hover{
	background-color: #fff!important;
	color:#54a0ff!important;
	border-bottom: 4px solid #54a0ff!important;
}